 /* The animation code */
 
 @keyframes animatedGmail {
     0% {
         background-color: orange;
         transform: translateX(800px);
     }
     25% {
         background-color: yellow;
     }
     50% {
         background-color: teal;
         border-radius: 100%;
     }
     75% {
         background-color: yellowgreen;
     }
     100% {
         background-color: green;
         transform: rotate (90deg);
     }
 }
 /* The element to apply the animation to */
 
 div {
     width: 100px;
     height: 100px;
     background-color: orange;
     animation-name: animatedGmail;
     animation-duration: 8s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-timing-function: ease-in;
 }